*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}
// 1rem = 10px, 10/16 * 100 = 62.5%

html {
  font-size: 50%;
  font-family: "Poppins";
  color: $color-dark;

  @include devices(laptop) {
    font-size: 62.5%;
  }
  @include devices(desktop) {
    font-size: 75%;
  }
}

body {
  box-sizing: border-box;
}

html,
body,
#root {
  // min-height: 100%;
  // height: 100%;
}

.App {
  // min-height: 100%;
  // height: 100%;
}

.active {
  transition: all 0.3s;
  color: $color-blue;
  transform: skewX(-8deg) translateX(0.4rem);
}

.inactive {
  color: inherit;
  transition: all 0.3s;
  transform: skewX() translateX(0);
}
