.auth-layout {
  padding: 1rem 0;
  overflow: hidden;
  position: relative;
  flex: 1;
  @include centerFlex;

  @include devices(laptop) {
    padding-top: 1rem;
    padding-bottom: 1rem;
    padding-right: 8rem;
    justify-content: flex-end;
  }

  @include devices(desktop) {
    padding-right: 10rem;
  }
}

.auth {
  z-index: 100;
  position: relative;
  width: 45%;
  height: 90%;

  &-light {
    z-index: 0;
    border-radius: 2rem;

    position: relative;

    width: 95%;
    height: 90%;
    transition: all 0.5s linear;

    background-color: #ffffff;

    @include devices(tablet) {
      width: 80%;
    }
  }
  &-dark {
    z-index: 0;
    border-radius: 2rem;

    position: relative;

    width: 95%;
    height: 90%;

    background-color: #2c3440;
    transition: all 0.5s linear;

    @include devices(tablet) {
      width: 80%;
    }
  }
}
