.auth-layout {
  margin: 0 auto;
  padding: 2rem 0;
  min-height: 100vh;
  width: 100%;
  max-height: 900px;
  max-width: 1440px;
  overflow: hidden;
  position: relative;
  // background-color: #222831;

  @include centerFlex;

  @include devices(mobile-L) {
    @media (orientation: "landscape") {
      padding: 8rem 0;
    }
  }

  @include devices(laptop) {
    padding-top: 0;
    padding-bottom: 0;
    padding-right: 8rem;
    justify-content: flex-end;
  }

  @include devices(desktop) {
    padding-right: 10rem;
    max-width: 1600px;
    max-height: 992px;
  }

  &__image {
    position: absolute;

    &--1 {
      width: 160%;
      left: -100%;

      @include devices(mobile-L) {
        width: 180%;
        left: -120%;
      }
      @include devices(tablet) {
        width: 140%;
        left: -90%;
        bottom: -10%;
      }
      @include devices(laptop) {
        width: 95%;
        left: -25%;
        bottom: -25%;
      }
    }

    &--2 {
      width: 40%;
      right: -10%;
      bottom: -5%;
      @media (orientation: landscape) {
        bottom: -20%;
      }
      @include devices(laptop) {
        display: block;
        width: 25%;
        right: -10%;
        bottom: -5%;
      }
    }
  }
}

.auth {
  z-index: 10;

  position: relative;
  width: 90%;

  @include devices(tablet) {
    width: 80%;
  }
  @include devices(laptop) {
    width: 45%;
  }
}
