.auth-layout {
  padding: 2rem 0;
  overflow: hidden;
  position: relative;
  flex: 1;
  @include centerFlex;

  @include devices(mobile-L) {
    @media (orientation: "landscape") {
      padding: 8rem 0;
    }
  }

  @include devices(laptop) {
    padding-top: 0;
    padding-bottom: 0;
    padding-right: 8rem;
    justify-content: flex-end;
  }

  @include devices(desktop) {
    padding-right: 10rem;
  }
}

.auth {
  z-index: 100;

  position: relative;
  width: 90%;
  height: 90%;

  @include devices(tablet) {
    width: 80%;
  }
  @include devices(laptop) {
    width: 45%;
  }
}
