.footer {
  padding: 2rem;
  letter-spacing: 0.5px;
  font-size: 2rem;
  @include devices(laptop) {
    padding: 2.5rem;
  }

  &-features {
    padding: 2rem;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-direction: column;
    gap: 3rem;

    @include devices(laptop) {
      flex-direction: row;
      font-size: 1.6rem;
    }
    &-explore {
      // width: calc(100% / 3);
      flex: 1;

      & h3 {
        color: $color-blue;
        margin-bottom: 1.5rem;
      }
    }
    &-development {
      // width: calc(100% / 3);
      flex: 1;
      & h3 {
        color: $color-blue;
        margin-bottom: 1.5rem;
      }
    }
    &-design {
      // width: calc(100% / 3);
      flex: 1;
      & h3 {
        color: $color-blue;
        margin-bottom: 1.5rem;
      }
    }
  }

  &-copyright {
    width: 100%;
    // display: inline-block;
    padding: 2rem;
    & p {
      color: $color-blue;
      margin: 0 auto;
      width: fit-content;
      text-align: center;
      font-family: Poppins-Bold;
    }
  }

  &-light {
    @include modusBox(light);
  }
  &-dark {
    @include modusBox(dark);
  }
}
