.sidebar {
  width: 16%;
  background-color: $color-white;
  min-height: 100%;
  padding: 2rem;
  filter: drop-shadow(0px 10px 25px rgba(29, 52, 54, 0.08));
  & > :not(:last-child) {
    margin-bottom: 6rem;
  }
}
